body{
  overflow-x: hidden;
}
.topnav{
  background: #EEEEEE;
}
.footer{
  position: absolute;
  bottom: 0;
  z-index: 999;
}
.empty{
  margin-top: 25em;
}
.card-img{
  height: 10em;
  width: auto !important;
  margin: 0 2em;
}
.awssld__content{
background-color: #EEEEEE;
}
.f-img{
  justify-items: center;
}
